.navbar
{  display:flex;
    justify-content: space-around;
    background-color: rgb(21, 213, 213);
    color:black;
    
    
}
.navbar li{
    list-style:none;
    padding:20px;
    font-size:20px;
}
.navbar li a{
    text-decoration:none;
    color: rgb(202, 7, 212);
}
.navbar li a:hover{
    color: rgb(209, 123, 37);
}

